<div class="jambotron jambotron-fluid jambotron-extend">
  <div class="d-flex align-items-center" id="box">
    <div class="container-fluid text-center text-white">
        <h1 class="display-3 mb-4">工具管理アプリ</h1>
        <h4>倉庫に眠っている工具を見える化する</h4>
        <%= link_to "新規登録", signup_path, class: "btn btn-success mt-5 btn-width" %>
    </div>
  </div>
</div>
