// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// 共通
.logo {
  font-size: 26px;
}

.sub-title {
  font-size: 20px;
}

.active-sidebar {
  background-color: #69B076;
}

.menu-tilte {
  font-size: 20px;
}

.ml-sidebar {
  margin-left: 260px;
}

.flash-message {
  border: 1px solid;
  margin-bottom: 0;
  padding: 0;
  position: sticky;
  border-radius: 0;
  box-sizing: border-box;
  text-align: center;
  top: 56px;
  z-index: 1030;
}

.bg-white-80 {
  background-color:rgba(255, 255, 255, .8);
}

.bg-green0 {
  background-color: #f6f7eb;
}

.bg-green1 {
  background-color: #98D98E;
}

.bg-green1-70 {
  background-color: rgba(152, 217, 142, 0.7);
}

.bg-green2 {
  background-color: #69B076;
}

.text-green2 {
  color: #69B076;
}

.border-green1 {
  border: 1px solid #98D98E;
}

.content-box {
  min-height: 530px;
}

.btn-width {
  width: 120px;
}

// navbar
.sidebar {
  width: 260px;
}

.sidebar li {
  font-size: 16px;
}

.sidebar li :hover {
  transition: 0.4s;
  background-color: rgba(255, 255, 255, 0.3);
}

// top
.jambotron-extend {
  background: url("/tool-top.jpg") center center no-repeat;
  background-size: cover;
  height: 670px;
  overflow: hidden;
  position: relative;
  z-index: 0;
}

.jambotron-extend:before{
  content: '';
  background: inherit;
  -webkit-filter: blur(2.5px);
  -moz-filter: blur(2.5px);
  -o-filter: blur(2.5px);
  -ms-filter: blur(2.5px);
  filter:brightness(65%) blur(2.5px);
  position: absolute;
  top: -2.5px;
  left: -2.5px;
  right: -2.5px;
  bottom: -2.5px;
  z-index: -1;
}

#box {
  width: 100%;
  height: 100%;
  background-color: rgba(77, 153, 119, 0.25);
}

.login-form {
  margin-top: 90px;
  margin-bottom: 50px;
}
